<div class="card">
    <div class="card-body">
        <div class="header">
            <div>
                <img src="assets/images/glo_logo.png"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">DATA TYPE</div>
            <div class="col-md-6">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="1">SME</option>
                    <option value="2">Corporate Gifting</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">DATA PLAN</div>
            <div class="col-md-6">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="1">1GB #300</option>
                    <option value="2">2GB #500</option>
                    <option value="3">3GB #1500</option>
                  </select>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">PHONE NUMBER </div>
            <div class="col-md-6">
                <div class="input-group flex-nowrap">
                    <input type="number" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success">Proceed</button>
    </div>
  </div>