<div class="container">
    <h1>Our Services</h1>
    <p>We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes), Electricity Bill Payment and Airtime to Cash.</p>
    <div class="row">
      <div class="service">
        <i class="fas fa-wifi"></i>
        <h2>Buy Data</h2>
        <p>
            Start enjoying this very low rates Data plan for your internet browsing databundle.
        </p>
      </div>
      <div class="service">
        <i class="fas fa-tv"></i>
        <h2>Cable Subscription</h2>
        <p>
            Instantly Activate Cable subscription with favourable discount compare to others...
        </p>
      </div>
      <div class="service">
        <i class="fas fa-mobile-alt"></i>
        <h2>Airtime TopUp</h2>
        <p>
            Making an online recharge has become very easy and safe on OLIVETOPUP...
        </p>
      </div>
      <div class="service">
        <i class="fas fa-lightbulb"></i>
        <h2>Utility Payment</h2>
        <p>
            Because we understand your needs, we have made bills and utilities payment more convenient..
        </p>
      </div>
      <div class="service">
        <i class="far fa-money-bill-alt"></i>
        <h2>Convert Airtime To Cash</h2>
        <p>
            We offer this service at a very good attractive rate login to see current conversion rate..
        </p>
      </div>
      <div class="service">
        <i class="fas fa-mail-bulk"></i>
        <h2>Bulk SMS</h2>
        <p>
            Send BulkSMS to any number for as low as just 2.5kobo per unit..
        </p>
      </div>
      <!-- <div class="service">
        <i class="fas fa-money-check-alt"></i>
        <h2>Payroll</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
          quae?
        </p>
      </div>
      <div class="service">
        <i class="fas fa-network-wired"></i>
        <h2>Networking</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
          quae?
        </p>
      </div> -->
    </div>
  </div>