<div class="single-container">
    <div class="row" style="justify-content: center; margin-top:4%">
        <div class="col-sm-3" id="" style="cursor:pointer" (click)="mtn()" [ngClass]="{'active': mtnComp}">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:20px; font-weight:500">MTN</div>
                    </div>
                    <div class="header">
                        <img src="assets/images/mtn-icon.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="cursor:pointer" (click)="glo()" [ngClass]="{'active': gloComp}">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:20px; font-weight:500">GLO</div>
                    </div>
                    <div class="header">
                        <img src="assets/images/glo_logo.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div style="cursor:pointer" class="col-sm-3" (click)="airtel()" [ngClass]="{'active': airtelComp}">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:20px; font-weight:500">AIRTEL</div>
                    </div>
                    <div class="header">
                        <img src="assets/images/airtel.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"  style="cursor:pointer" (click)="etisalat()" [ngClass]="{'active': etisalatComp}">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:20px; font-weight:500">ETISALAT</div>
                    </div>
                    <div class="header">
                        <img src="assets/images/9mobile.png"/>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="title-history" style="font-size: 20px; padding:20px 0px">BUY DATA</div>


    <div *ngIf="mtnComp">
        <app-mtn></app-mtn>
    </div>
    <div *ngIf="gloComp">
        <app-glo></app-glo>
    </div>
    <div *ngIf="airtelComp">
        <app-airtel></app-airtel>
    </div>
    <div *ngIf="etisalatComp">
        <app-etisalat></app-etisalat>
    </div>