<div class="footer"  *ngIf="router.url !== '/home/login' && router.url !== '/home/Signup'">
    <div class="heading">
      <h2 style="color:#fff; font-weight:550">KP Initiative<sup>&#174;</sup></h2>
    </div>
    <div class="content" style="margin-top:40px;">
      <div class="services">
        <h4>Services</h4>
        <p><a href="#">Data</a></p>
        <p><a href="#">Cable Subscription</a></p>
        <p><a href="#">Airtime Top Up</a></p>
        <p><a href="#">Utility Payment</a></p>
        <p><a href="#">Convert Airtime to Cash</a></p>
        <p><a href="#">Bulk Sms</a></p>


      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p id="facebook">
          <a href="https://www.facebook.com/snowfoxng"
            ><i class="fab fa-facebook"></i>Facebook</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/snowfoxng/"
            ><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
      <div class="links">
        <h4>More</h4>
        <p><a href="#">Privacy and Policy</a></p>
        <p><a href="#">Resources</a></p>
      </div>
      <div class="details">
        <h4 class="address">Contact Us</h4>
      
        <h4 class="mobile">Mobile</h4>
        <p style="color:#fff">08067875050</p>
        <h4 class="mail">Address</h4>
        <p style="color:#fff">Parkview Estate, Ikoyi.</p>
      </div>
    </div>
    <!-- <footer style="background-color:#fdb801; padding-bottom:10px;color:#fff">
      <hr />
      &copy; 2021 SNOWFOX NIG.
    </footer> -->
  </div>