<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center" style="font-size: 30px; font-weight: bold; ">SignUp</h3>
		<div class="card-text">
			<form>
                <div class="row">
                    <div class="col-md-12" style="padding:0px 5px !important;"> 
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" placeholder="First Name" id="firstname">
                        </div>
                    </div>
                </div>

                <div class="row" id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="row" id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="row" id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group">
                            <input type="number" class="form-control form-control-sm" id="lastname" placeholder="Phone number">
                        </div>
                    </div>
                </div>

                <div class="row" id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Referral Username [optional]">
                        </div>
                    </div>
                </div>

                <div class="row" id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group" >
                            <input type="email" class="form-control form-control-sm" id="exampleInputEmail1"  placeholder="Email address" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>

                <div class="row"  id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group" >
                            <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>

                <div class="row"  id="input_field">
                    <div class="col-md-12" style="padding:0px 5px !important;">
                        <div class="form-group" >
                            <input type="password" class="form-control form-control-sm" id="confirmpassword" placeholder=" Confirm Password" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
               
				<button id="login" type="submit" class="btn btn-block">REGISTER</button>
				
				<div class="sign-up" style="display: flex;">
					You have an account? <div class="px-4" style="text-decoration: underline; color:blue; cursor: pointer;" (click)="login()">Login</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>