<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center"  style="font-size: 30px; font-weight: bold; ">Log in</h3>
		<div class="card-text">
			<form>
				<div class="form-group" >
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group" id="input">
					<label for="exampleInputPassword1">Password</label>
					<a href="#" style="float:right;font-size:12px;">Forgot password?</a>
					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
				</div>
				<button id="signUp" type="submit" class="btn btn-block">Sign in</button>
				
				<div class="sign-up" style="display: flex;">
					Don't have an account? <div class="px-4" style="text-decoration: underline; color:blue; cursor: pointer;" (click)="signUp()">Create One</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>