<div class="testimonials text-center">

    <div class="container">
      <div class="col-md-12 text-center heading-main">
        <h4 style="color:gray;">Testimonials</h4>
        <h2 class="heading">What Our <span style="color: #eb166b;">Clients Say</span></h2>
        <div class="separator"><i class="fa fa-home below-line-about-icon"></i></div>

      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height: 40px;">
                Don’t be afraid to buy data here. you are in the right and safe hand. Delivery is 100%... i like this platform.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Frank Agha</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height:40px;">Website so simple and user friendly, i like the layout and the response when i 
            buy data here. More money kpInitiative</p>
              <footer class="blockquote-footer"><cite title="Source Title">Elijah Alawode</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height:45px;">
                Thanks to Kp Initiative, this website has nade it easy for me to get data anytime, anywhere with instant response. thank you KpInitiative
              </p>
              <footer class="blockquote-footer"><cite title="Source Title">Seun Alakija</cite></footer>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
