<div class="image-back">
    <div  id="background-layer">
      <div class="overly-content">
          <div class="header" id="welcome">Welcome To</div>
          <p class="sub-header" id="welcome-text">KP initiatives</p>
          <div id="action-btn" style="background-color: #eb166b; color:#fff; padding-left:10px; font-size: 20px;margin-right:10px; border-radius: 27px; padding:7px 35px; font-weight:500" type="button" class="btn btn-outline">
             <span class="icon"><i class="fas fa-user-plus"></i></span> <a [routerLink]="['/home/Signup']" href="#">Register</a>
          </div>
          <div id="login" (click)="login()" style="background-color: #eb166b; color:#fff; font-size: 20px; border-radius: 27px; padding:7px 35px; font-weight:500" type="button" class="btn btn-outline">
            <span class="icon"><i class="fas fa-lock-open"></i></span>  <a [routerLink]="['/home/login']" href="#">Login</a>
          </div>
          <marquee width="90%" direction="left" style="color:#fff; padding-top:10px; font-weight: 700; font-size:19px;">Your sure plug for everything Data and airtime</marquee>
      </div>
    </div>
  </div>