* { 
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
   
}

nav{
    background-color: #eb166b;
}

#header-bar{
    padding:20px 30px
}



#logo{
    color:#fff
}

#toggle{
    outline: none !important;
    border: none !important;
    color:#fff;
    padding:6px
}

#logo{
    font-size: 13px;
}


#menu{
    color:#ffff
}

.menu-img{
    width: 30px;
    // padding:10px;
    color:#fff !important
}



.navbar-toggler-icon{
    color:#fff !important
}

.navbar{
    padding: 7px 8%
}

#logo{
    font-weight: 600;
    font-size: 23px;
}

#menu{
    margin-right:50px;
    font-weight:500;
    font-size:20px
}





@media (max-width: 700px) {

    .nav-item{
        padding: 10px;
    }
    
}
