<section class="first">
    <h1>Affordable Data Plans And Prices</h1>
    <div class="container">
      
      <div class="row">

        <div class="col-md-3">
            <div class="column">
                <div class="header">
                  <!-- <i class="fas fa-user-astronaut"></i> -->
                  <img src="assets/images/mtn-icon.png"/>
                </div>
          
                <div class="money">
                  <h4><span> MTN </span></h4>
                </div>
          
                <div class="feature">
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Officia sint duis ex </li>
                    <li><i class="fas fa-check-circle"></i>Occaecat voluptate </li>
                    <li><i class="fas fa-check-circle"></i>Aliqua fugiat sit </li>
                    <li><i class="fas fa-check-circle"></i>Occaecat voluptate </li>
                    <li><i class="fas fa-check-circle"></i>Aliqua fugiat sit </li>
          
                  </ul>
                </div>
          
                <div class="bu">
                  <a href="#" target="_blank">Buy<span></span></a>
                </div>
          
              </div>
        </div>

        <div class="col-md-3">
            <div class="column">
                <div class="header">
                    <img src="assets/images/glo_logo.png"/>
                </div>
          
                <div class="money">
                  <h4> <span> GLO </span></h4>
                </div>
          
                <div class="feature">
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
                    <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
                    <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
                    <li><i class="fas fa-times-circle"></i>Aliquip adipisicing </li>
                    <li><i class="fas fa-times-circle"></i>Aliquip adipisicing </li>
                  </ul>
                </div>
          
                <div class="bu">
                  <a href="#" target="_blank">Buy<span></span></a>
                </div>
          
              </div>
        </div>


        <div class="col-md-3">
            
    <div class="column">
        <div class="header">
            <img src="assets/images/9mobile.png"/>
        </div>
  
        <div class="money">
          <h4><span> ETISALAT </span></h4>
        </div>
  
        <div class="feature">
          <ul>
            <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
            <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
            <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
            <li><i class="fas fa-check-circle"></i>Aliquip adipisicing </li>
            <li><i class="fas fa-times-circle"></i>Aliquip adipisicing </li>
          </ul>
        </div>
  
        <div class="bu">
          <a href="#" target="_blank">Buy<span></span></a>
        </div>
  
      </div>
        </div>

        <div class="col-md-3">
            <div class="column">
                <div class="header">
                    <img src="assets/images/airtel.png"/>
                </div>
          
                <div class="money">
                  <h4><span> airtel </span></h4>
                </div>
          
                <div class="feature">
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Officia sint duis ex </li>
                    <li><i class="fas fa-check-circle"></i>Occaecat voluptate </li>
                    <li><i class="fas fa-check-circle"></i>Aliqua fugiat sit </li>
                    <li><i class="fas fa-check-circle"></i>Occaecat voluptate </li>
                    <li><i class="fas fa-check-circle"></i>Aliqua fugiat sit </li>
          
                  </ul>
                </div>
          
                <div class="bu">
                  <a href="#" target="_blank">Buy<span></span></a>
                </div>
          
              </div>
        </div>
    </div>
  </div>
